# activate configuration of AT86RF215 using Kconfig
CONFIG_KCONFIG_MODULE_AT86RF215=y
# change Pins
CONFIG_AT86RF215_PARAM_SPI=(SPI_DEV(0))
CONFIG_AT86RF215_PARAM_SPI_CLK=(SPI_CLK_5MHZ)
CONFIG_AT86RF215_PARAM_CS=(GPIO_PIN(PORT_A, 4))
CONFIG_AT86RF215_PARAM_INT=(GPIO_PIN(PORT_A, 8))
CONFIG_AT86RF215_PARAM_RESET=(GPIO_PIN(PORT_B, 5))